USE [TKK_Piano]
GO
ALTER TABLE [dbo].[User_Course] DROP CONSTRAINT [FK_User_Course_2]
GO
ALTER TABLE [dbo].[User_Course] DROP CONSTRAINT [FK_User_Course_1]
GO
ALTER TABLE [dbo].[Order_Detail] DROP CONSTRAINT [FK_Order_Detail_2]
GO
ALTER TABLE [dbo].[Order_Detail] DROP CONSTRAINT [FK_Order_Detail_1]
GO
ALTER TABLE [dbo].[Order] DROP CONSTRAINT [FK_Order_1]
GO
ALTER TABLE [dbo].[Course] DROP CONSTRAINT [FK_Course_1]
GO
ALTER TABLE [dbo].[Course] DROP CONSTRAINT [FK__Course__Teacher___48CFD27E]
GO
ALTER TABLE [dbo].[Course] DROP CONSTRAINT [FK__Course__Last_Upd__47DBAE45]
GO
ALTER TABLE [dbo].[Course] DROP CONSTRAINT [FK__Course__Created___46E78A0C]
GO
ALTER TABLE [dbo].[Course] DROP CONSTRAINT [FK__Course__Category__45F365D3]
GO
ALTER TABLE [dbo].[Order_Detail] DROP CONSTRAINT [DF__Order_Det__Quant__44FF419A]
GO
ALTER TABLE [dbo].[Order] DROP CONSTRAINT [DF__Order__Total_Pri__440B1D61]
GO
ALTER TABLE [dbo].[Course] DROP CONSTRAINT [DF__Course__Tuition___4316F928]
GO
ALTER TABLE [dbo].[Course] DROP CONSTRAINT [DF__Course__Slot__4222D4EF]
GO
/****** Object:  Table [dbo].[User_Course]    Script Date: 12/8/2022 9:51:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User_Course]') AND type in (N'U'))
DROP TABLE [dbo].[User_Course]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/8/2022 9:51:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 12/8/2022 9:51:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Order_Detail]') AND type in (N'U'))
DROP TABLE [dbo].[Order_Detail]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 12/8/2022 9:51:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Order]') AND type in (N'U'))
DROP TABLE [dbo].[Order]
GO
/****** Object:  Table [dbo].[Level]    Script Date: 12/8/2022 9:51:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Level]') AND type in (N'U'))
DROP TABLE [dbo].[Level]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 12/8/2022 9:51:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Course]') AND type in (N'U'))
DROP TABLE [dbo].[Course]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/8/2022 9:51:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
DROP TABLE [dbo].[Category]
GO
USE [master]
GO
/****** Object:  Database [TKK_Piano]    Script Date: 12/8/2022 9:51:42 PM ******/
DROP DATABASE [TKK_Piano]
GO
/****** Object:  Database [TKK_Piano]    Script Date: 12/8/2022 9:51:42 PM ******/
CREATE DATABASE [TKK_Piano] ON  PRIMARY 
( NAME = N'TKK_Piano', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TKK_Piano.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TKK_Piano_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TKK_Piano_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TKK_Piano].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TKK_Piano]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/8/2022 9:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 12/8/2022 9:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[Course_Name] [nvarchar](500) NOT NULL,
	[Teacher_ID] [int] NULL,
	[CategoryID] [int] NOT NULL,
	[Description] [ntext] NOT NULL,
	[Slot] [int] NULL,
	[Tuition_Fee] [numeric](12, 0) NULL,
	[Image_Url] [text] NOT NULL,
	[Start_Date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
	[Status] [bit] NOT NULL,
	[LevelID] [int] NULL,
	[Created_By] [int] NULL,
	[Last_Update_Date] [date] NOT NULL,
	[Last_Update_User] [int] NOT NULL,
	[Created_At] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Level]    Script Date: 12/8/2022 9:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Level](
	[LevelID] [int] IDENTITY(1,1) NOT NULL,
	[Level_Name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 12/8/2022 9:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Buy_Date] [date] NOT NULL,
	[Total_Price] [numeric](12, 0) NULL,
	[Payment_Method] [nvarchar](40) NOT NULL,
	[Payment_Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 12/8/2022 9:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[OrderID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Price] [numeric](12, 0) NULL,
 CONSTRAINT [PK_Order_Detail] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/8/2022 9:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[Fullname] [nvarchar](50) NOT NULL,
	[Phone] [char](15) NULL,
	[Email] [varchar](40) NULL,
	[Role] [char](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Course]    Script Date: 12/8/2022 9:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Course](
	[UserID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
 CONSTRAINT [PK_User_Course] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [Category_Name]) VALUES (1, N'Piano')
INSERT [dbo].[Category] ([CategoryID], [Category_Name]) VALUES (2, N'Guitar')
INSERT [dbo].[Category] ([CategoryID], [Category_Name]) VALUES (3, N'Drum')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Level] ON 

INSERT [dbo].[Level] ([LevelID], [Level_Name]) VALUES (1, N'Beginner')
INSERT [dbo].[Level] ([LevelID], [Level_Name]) VALUES (2, N'Basic')
INSERT [dbo].[Level] ([LevelID], [Level_Name]) VALUES (3, N'Advance')
SET IDENTITY_INSERT [dbo].[Level] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [Password], [Fullname], [Phone], [Email], [Role]) VALUES (1, N'toanvuongkhac', N'12345', N'Vương Khắc Toàn', N'1651110352     ', N'toanvuongkhac@gmail.com', N'TC')
INSERT [dbo].[User] ([UserID], [Username], [Password], [Fullname], [Phone], [Email], [Role]) VALUES (2, N'toanlovan', N'12345', N'Lê Văn Toản', N'1651110385     ', N'toanlovan@gmail.com', N'TC')
INSERT [dbo].[User] ([UserID], [Username], [Password], [Fullname], [Phone], [Email], [Role]) VALUES (3, N'tulothanh', N'12345', N'Lê Thanh Tú', N'1651110298     ', N'tulothanh@gmail.com', N'TC')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Course] ADD  DEFAULT ((0)) FOR [Slot]
GO
ALTER TABLE [dbo].[Course] ADD  DEFAULT ((0)) FOR [Tuition_Fee]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [Total_Price]
GO
ALTER TABLE [dbo].[Order_Detail] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD FOREIGN KEY([Created_By])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD FOREIGN KEY([Last_Update_User])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD FOREIGN KEY([Teacher_ID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_1] FOREIGN KEY([LevelID])
REFERENCES [dbo].[Level] ([LevelID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_1]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_1] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_1]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Order_Detail_1] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK_Order_Detail_1]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Order_Detail_2] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK_Order_Detail_2]
GO
ALTER TABLE [dbo].[User_Course]  WITH CHECK ADD  CONSTRAINT [FK_User_Course_1] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[User_Course] CHECK CONSTRAINT [FK_User_Course_1]
GO
ALTER TABLE [dbo].[User_Course]  WITH CHECK ADD  CONSTRAINT [FK_User_Course_2] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[User_Course] CHECK CONSTRAINT [FK_User_Course_2]
GO
USE [master]
GO
