<footer style="width: 100%;" class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container mt-4 p-4">
        <!-- Section: Social media -->
        <section>
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button"
               ><i class="fab fa-facebook-f"></i
                ></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button"
               ><i class="fab fa-twitter"></i
                ></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button"
               ><i class="fab fa-google"></i
                ></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button"
               ><i class="fab fa-instagram"></i
                ></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button"
               ><i class="fab fa-linkedin-in"></i
                ></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button"
               ><i class="fab fa-github"></i
                ></a>
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: RGB(255, 193, 7);">
        <p>
            &copy; 2022 TKK-Piano - 3T2P - FPT University<br>
            Address: Lot E2a-7, D1 Street, Long Thanh My Ward, Thu Duc City, Ho Chi Minh City<br>
            Phone: (+84) 936 999 999 | Email: info@3t2p.com.vn
        </p>
    </div>
</footer>